#First {
	/* this a comment wahhh */
	background-image: url("1.png"); 

	/* specific height??/ wahhh */
	min-height: 500px;

	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


}

#Second {
	background-image: url("2.jpg");

	min-height: 500px;

	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

#box {
	height:110px;
	background-color: black;
	text-align: center;
	color: white;
	font-size: 100px;
}